<div class="row">
  <div class="col-xs-3 top_tanpopo">
    <a href="<%= home_path %>">
      <%= image_tag "top.png", size:"50x50", class:"text-right" %>
    </a>
  </div>
</div>
<%= form_tag messages_create_path, method: :post do %>
  <div class="col-xs-12 send_new center-block">
    <textarea name="contents" class="send_textarea" rows="8" cols="35" placeholder="おくることばをかいてね！（絵文字は使えません）"></textarea>
  </div>
  <div class="col-xs-12">
    <%= image_tag "watage03.png", size: "150x225" %>
  </div>
  <div class="col-xs-12 send_new_watage text-right">
    <button class="btn btn-warning" type="submit" name="button">おくる！</button>
  </div>
<% end %>
