<style>
.fuwafuwa {
  animation: updown 7s linear infinite alternate none running;
  animation-timing-function: ease-in-out;
}

@keyframes updown {
  0%   {transform: translate(0, 0px);}
  10%  {transform: translate(0, 90px);}
  20%  {transform: translate(0, 70px);}
  30%  {transform: translate(0, 180px);}
  40%  {transform: translate(0, 160px);}
  50%  {transform: translate(0, 270px);}
  60%  {transform: translate(0, 250px);}
  70%  {transform: translate(0, 360px);}
  80%  {transform: translate(0, 340px);}
  90%  {transform: translate(0, 450px);}
  100% {transform: translate(0, 430px);}
}
</style>

<script>
// 一定時間経過後に指定ページにジャンプする
mnt = 5; // 何秒後に移動するか？
function jumpPage() {
  location.href = "show";
}
setTimeout("jumpPage()",mnt*1000)
</script>

<div class="col-xs-12 receiving_watage">
  <%= image_tag 'watage04.png', size: '300x300', id: 'watage', class: 'fuwafuwa'%>
</div>
