
<style>
.fuwafuwa {
  /* 何秒でアニメーションを終わらせるか */
  -webkit-animation: fuwafuwa 5s linear 0s infinite;
  animation: fuwafuwa 5s linear 0s infinite;
  animation-timing-function: ease-in-out;
}
@-webkit-keyframes fuwafuwa {
  0%    { transform:  translate(-30px, 0px);    }
  20%   { transform:  translate(30px, -90px);   }
  40%   { transform:  translate(-30px, -180px); }
  60%   { transform:  translate(30px, -270px);  }
  80%   { transform:  translate(-30px, -360px); }
  100%  { transform:  translate(30px, -450px);  }
}
@keyframes fuwafuwa {
  0%    { transform:  translate(-40px, 0px);    }
  20%   { transform:  translate(40px, -90px);   }
  40%   { transform:  translate(-40px, -180px); }
  60%   { transform:  translate(40px, -270px);  }
  80%   { transform:  translate(-40px, -360px); }
  100%  { transform:  translate(40px, -450px);  }
}

</style>

<script>
// 一定時間経過後に指定ページにジャンプする
mnt = 4.5; // 何秒後に移動するか？
function jumpPage() {
  location.href = "/home";
}
setTimeout("jumpPage()",mnt*1000)
</script>

<div class="col-xs-12 sending_watage">
  <%= image_tag 'watage06.png', size: '300x300', id: 'watage', class: 'fuwafuwa'%>
</div>
