<div class="col-xs-10 col-xs-offset-1 message text-center">
  <%= @message.contents %>
</div>

<div class="col-xs-12 text-right">
  <%= link_to "おきに に入れる", add_favorite_path(@message.id), method: :post %>
</div>
