<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>user_id</th>
        <th>user_name</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @users.each do |user| %>
        <td><%= user.id %></td>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
