<h1>新規登録</h1>

<%= form_tag users_create_path, method: :post, class: "navbar-form navbar-left search-form" do %>
<table>
  <tr>
    <td align="right"><b> ユーザー名</b></td>
    <td><input type="text" name="user_name" maxlength="20"></td>
  </tr>
  <tr>
    <td align="right"><b> パスワード：</b></td>
    <td><input type="password" name="password" maxlength="20"></td>
  </tr>
</table>
<button type="submit" name="submit" class="btn btn-primary">登録</button>
<% end %>
<div class="col-xs-12 text-left">
  <%= link_to "ログイン", users_path %>
</div>
