<h1>逢言葉とは</h1>
<div class="col-xs-12 about_img">
  <%= image_tag 'watage03.png', width: '150px' %>
  <!-- <%= image_tag 'fukidashi.png', width: '120px' %> -->
</div>
<p>
  逢言葉とは、誰かが送った言葉に出会うアプリです。 <br>
  <br>
  誰かが発した、たくさんの言葉が漂うインターネット。 <br>
  わたげに乗せられてインターネットを漂う言葉が、 <br>
  あなたの元にやってきます。<br>
  <br>
  一期一会な出会いだけれど、 <br>
  あなたと言葉の、すてきな出会いがありますように。 <br>
  あなたの言葉も、すてきな出会いがありますように。
</p>

<div class="col-xs-6 text-center enter_button">
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
</div>
<div class="col-xs-6 text-center enter_button">
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-warning" %>
</div>
