<h3><%= image_tag 'tanpopo.png', size:'30x30' %>テストユーザーの方へ（必読）</h3>

<p>
  この度は、逢言葉へテストユーザーとしてご参加いただき、ありがとうございます。 <br>
  本アプリは、卒業論文のために制作している、「言葉と出会う」をコンセプトにしているWebアプリです。 <br>
  逢言葉を1週間ほど使っていただき、感想などを教えていただきたいです🙏 <br>
  デザインがまだ出来上がってない上にあまりクオリティの高いものではないのですが、 <br>
  とりあえずそれっぽいものにはなっているので温かい目で見ていただけると嬉しいです。<br>
  ご登録の前に、以下の注意事項をお読みください。
</p>

<h4>⚠︎注意事項⚠︎</h4>
<ul>
  <li>スマホ向けにデザインしているので、スマホで見てください！他の端末で見ると表示が崩れてしまいます。</li>
  <li>あなたの他に、多くのテストユーザーがいます。個人情報などは書かないように、マナーとモラルのあるご利用をお願いします。（一度送った言葉は消せません）</li>
  <li>登録にはメールアドレスが必要になります。存在しないようなアドレスでも大丈夫ですので、見られるのやだ〜って方は適当なアドレスで登録してください。</li>
  <li>メールアドレスは開発者がデータベースから見れますが、パスワードは暗号化して保存されるため、開発者でも見れません。よってパスワードを忘れてしまった場合は新しく登録していただくか、お問い合わせいただければアカウントを削除して同じメールアドレスで登録できるようにします。（パスワード再設定の機能はそのうち実装します）</li>
  <li>言葉を送る際、絵文字は使えません。</li>
  <li>デザインは順次アップデートしていきます。もしバグや不具合、お問い合わせがある場合は<%= link_to "不具合報告・お問い合わせフォーム", 'https://goo.gl/forms/hFZImIVahT6oljvD2', target: 'blank' %>か、LINEなどでお願いします。</li>
  <li>現バージョンではログインや送信の際に出るアラートは消せないっぽいです（あとで直しますごめんなさい）。再読み込みすれば消えます。</li>
  <li>後日、アンケートフォームをお送りします。（アプリ内にもリンクを実装します）そちらにもご協力をお願いします。</li>
  <li>可能であれば、あなたのお友達にもご協力をお願いしてください！ログイン後、「せってい」からシェアができます。</li>
</ul>

<p>
  改めて、ご協力いただきありがとうございます。 <br>
  それでは、言葉との楽しい一期一会ライフをお楽しみください！ <br><br>
  よろしければこちらもお読みください：<%= link_to "逢言葉とは？", about_path %>

</p>

<p class="text-right">以上</p>

<div class="col-xs-12 text-right">
  <%= link_to image_tag('modoru.png', size: '60x60'), :back%>
</div>
