
<div class="col-xs-12">
<%= image_tag "Logo.png", width: "80%", class: "top_logo"%>
</div>

<%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %><br />
<%= link_to "新規登録", new_user_registration_path, class: "btn btn-warning" %><br />
