<div class="col-xs-12 home_watage">
  <%= image_tag "watage.png"%>
</div>
<div class="col-xs-12 button">
  <div class="col-xs-6 tobasu">
    <a href="#"><h1>とばす</h1></a>
  </div>
  <div class="col-xs-6 deau">
    <a href="#"><h1>であう</h1></a>
  </div>
</div>
