
<div class="col-xs top_logo text-center">
  <%= image_tag "Logo.png", width: "80%"%>
</div>
<div class="col-xs-6 text-center">
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
</div>
<div class="col-xs-6 text-center">
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-warning" %>
</div>
