<div class="row">
  <div class="col-xs-3 top_tanpopo">
    <a href="<%= home_path %>">
      <%= image_tag "top.png", size:"50x50", class:"text-right" %>
    </a>
  </div>
</div>
<h3>おきにな言葉</h3>
<% if @favs.empty? %>
  <p>おきに に入れられていることばはありません</p>
<% else %>
  <p>おきに に入れられるのは3件までです</p>
  <% @favs.each do |fav| %>
  <div class="okini_list">
    <% fav = Message.find(fav.message_id) %>
    <div class="message">
      <%= simple_format(fav.contents) %>
    </div>
    <div class="text-right">
      <%= link_to image_tag('delete.png', size: '50x50'), favorite_path(fav), method: :delete, data: {confirm: "おきに から削除します。\nよろしいですか？"} %>
    </div>
  </div>
  <% end %>
<% end %>
